<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <param name="intrinsic_path"    value="/home/han/Desktop/data/parameters/intrinsic.txt" />  <!-- intrinsic file -->
    <param name="input_photo_path"  value="/home/han/Desktop/data/photo/0.bmp" />  <!-- photo to find the corner -->
    <param name="ouput_path"        value="/home/han/Desktop/data/corner_photo.txt" />  <!-- file to save the photo corner -->
    
    <node pkg="camera_lidar_calibration" name="cornerPhoto" type="cornerPhoto" output="screen"></node>

</launch>

